:root {
  --text-color: #555252;
  --accent-color: #1abc9c;
  --menu-text-color: #0f0101;
  --heading-text-color: #515151;
  --product-heading-text-color: #fff;
  --user-nav-font-color: #fefefe;
  --hero-banner-font-color: #fffcfc;
  --signature-price-bg-color: #8c8c8c;
  --signature-name-bg-color: #323232;
  --signature-price-bg-focus-color: #7fd9c7;
  --new-products-bg-color: #e9f0fd;

  --primary-font: "Open Sans", sans-serif;
  --signature-font: "Roboto", sans-serif;

  --text-size: 14px;
  --button-text-size: 16px;
  --product-signature-size: 18px;
  --blog-signature-font-size: 18px;
  --heading-font-size: 48px;
  --logo-font-size: 30px;
}
/* general style */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.collection {
  /* display: flex; */
  padding-top: 100px;
  padding-bottom: 100px;
  /* flex-direction: column; */
}
.collection__header {
  font-family: var(--signature-font);
  font-size: var(--heading-font-size);
  text-transform: uppercase;
  line-height: 32px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 28px;
}
.collection__decoration {
  display: block;
  width: 164px;
  height: 15px;
  margin-bottom: 78px;
  margin-left: auto;
  margin-right: auto;
}
/* Logo */
.logo {
  display: block;
  font-family: var(--signature-font);
  font-size: var(--logo-font-size);
  color: var(--heading-text-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__first-leter {
  font-weight: 700;
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
/* end of Logo */
/* Footer */
.user-nav {
  font-family: var(--primary-font);
  font-size: var(--text-size);
  font-weight: 300;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 23px;
}
.contacts__phone-number,
.contacts__mail,
.user__link {
  color: var(--user-nav-font-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  display: inline-flex;
  align-items: center;
}
.contacs__item:not(:last-child) {
  margin-right: 35px;
}
.contacts__phone-number,
.contacts__mail {
  display: inline-flex;
  align-items: center;
}
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__phone-number:hover,
.contacts__phone-number:focus {
  color: var(--signature-price-bg-focus-color);
}
.contacts__mail:hover .contacts__icon,
.contacts__mail:focus .contacts__icon,
.contacts__phone-number:hover .contacts__icon,
.contacts__phone-number:focus .contacts__icon {
  fill: var(--signature-price-bg-focus-color);
}
.contacts__icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--user-nav-font-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__info {
  padding-left: 10px;
}
.user__link {
  padding-left: 17px;
  padding-right: 17px;
}
.user__item:last-child .user__link {
  padding-right: 0px;
}
.user__link:hover,
.user__link:focus {
  color: var(--signature-price-bg-focus-color);
}
.site-nav {
  font-family: var(--primary-font);
  color: var(--menu-text-color);
  text-transform: uppercase;
  font-size: var(--text-size);
  font-weight: 800;
  line-height: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 30px;
}
.site__link {
  padding-right: 17px;
  padding-left: 17px;
  color: var(--menu-text-color);
  display: block;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site__item:last-child .site__link {
  padding-right: 0px;
}
.site__link:hover,
.site__link:focus {
  color: var(--accent-color);
}
.site-nav-background {
  background-color: var(--product-heading-text-color);
}
.user-nav-background {
  background-color: var(--accent-color);
}
/* Hero-banner */
.hero-banner {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--primary-font);
  font-size: var(--heading-font-size);
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--hero-banner-font-color);
  background-image: linear-gradient(
      to bottom,
      rgba(40, 40, 40, 0.52),
      rgba(40, 40, 40, 0.52)
    ),
    url(../images/backgrounds/hero-bg-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-resolution: 2dppx) {
  .hero-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(40, 40, 40, 0.52),
        rgba(40, 40, 40, 0.52)
      ),
      url(../images/backgrounds/hero-bg-pic@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero-banner__header {
  text-align: center;
}
.hero-banner__first-line {
  font-weight: 700;
  color: var(--accent-color);
}
.hero-banner__second-line {
  font-weight: 400;
}
.hero-banner__button {
  font-family: var(--signature-font);
  font-size: 14px;
  font-weight: 400;
}
/* About */
.about {
  font-family: var(--primary-font);
  font-size: 14px;

  background-color: var(--product-heading-text-color);
  align-items: center;
}
.list-about__header {
  font-size: var(--product-signature-size);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}
.list-about {
  align-items: center;
  justify-content: space-between;
}
.list-about__item {
  max-width: 255px;
}
.list-about__text,
.list-about__header {
  text-align: center;
}
.list-about__text {
  line-height: 24px;
}
.list-about__header {
  font-size: 18px;
  line-height: 32px;
}
.list-about__icon {
  display: block;
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 63px;
  background-repeat: no-repeat;
}
/* New products */
.new-products {
  background-color: var(--new-products-bg-color);
}

/* Product */
.products {
  background-color: var(--hero-banner-font-color);
  /* display: flex;
  flex-wrap: wrap; */
}
.product__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 255px;
  background-color: var(--new-products-bg-color);
}
.product__item:nth-child(4n) {
  margin-right: 0px;
}
.product__item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}
.product__link {
  font-family: var(--signature-font);
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  width: 255px;
  height: 322px;
}

.product__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 40px;
  z-index: 2;
}
.product__description {
  display: flex;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 14px 29px 13px 13px;
  color: var(--product-heading-text-color);
  background-color: var(--signature-name-bg-color);
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__price {
  display: flex;
  font-size: 18px;
  font-weight: 900;
  width: 55px;
  height: 40px;
  padding: 10px;
  color: var(--product-heading-text-color);
  background-color: var(--signature-price-bg-color);
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .product__description,
.product__item:focus .product__description {
  background-color: var(--accent-color);
}
.product__item:hover .product__price,
.product__item:focus .product__price {
  background-color: var(--signature-price-bg-focus-color);
}
.product__img-container {
  display: flex;
  position: relative;
  height: 282px;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.product__image {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.product__img-container::before {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition-property: top;
  transition-duration: 250ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .product__img-container::before,
.product__item:focus .product__img-container::before {
  top: 0;
  left: 0;
  transition-delay: 0ms;
}
/* Interactive */
.interactive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  width: 166px;
  height: 108px;
  z-index: 1;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .interactive,
.product__item:focus .interactive {
  opacity: 1;
}
.interactive__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--hero-banner-font-color);
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.iteractive__icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: var(--product-heading-text-color);
}
.interactive__text {
  padding-left: 10px;
}
.interactive__button:nth-child(3) {
  margin-right: 0;
}
.interactive__button:last-child {
  display: inline-flex;
  align-items: center;
  width: 166px;
  margin: 0px;
  font-family: var(--primary-font);
  font-size: var(--text-size);
  line-height: 32px;
  text-transform: uppercase;
  color: var(--new-products-bg-color);
  background-color: var(--signature-name-bg-color);
}
.interactive__button:hover,
.interactive__button:focus {
  background-color: var(--accent-color);
}

/* News part */
.news {
  background-color: var(--new-products-bg-color);
}

.article {
  font-family: var(--primary-font);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-right: 30px;
}
.article:last-child {
  margin-right: 0px;
}
.article__img {
  margin-bottom: 20px;
}
.article__header {
  font-size: var(--blog-signature-font-size);
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 47px;
}
.article__header::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  background-color: var(--accent-color);
  margin-top: 12px;
}
.article__text {
  font-size: var(--text-size);
  line-height: 26px;
  margin-bottom: 16px;
}
/* Footer */
.footer {
  background-color: var(--accent-color);
  background-image: url(../images/backgrounds/footer-bg_mask.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: var(--product-heading-text-color);
  margin-bottom: 42px;
}
.footer__form-for-email {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.footer__your-email {
  height: 60px;
  width: 450px;
  border: 1px solid var(--product-heading-text-color);
  border-radius: 5px 0 0 5px;
  padding-left: 28px;
}

/*------BUTTONS-----*/
.article__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--product-heading-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  width: 160px;
  height: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.article__button:hover,
.article__button:focus {
  border-color: var(--signature-price-bg-focus-color);
  background-color: var(--signature-price-bg-focus-color);
}
.hero-banner__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--product-heading-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  width: 120px;
  height: 42px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-banner__button:hover,
.hero-banner__button:focus {
  border-color: var(--signature-price-bg-focus-color);
  background-color: var(--signature-price-bg-focus-color);
}
.footer__email-button {
  height: 60px;
  width: 90px;
  border: 1px solid var(--product-heading-text-color);
  border-radius: 0 5px 5px 0;
  background-color: var(--accent-color);
  padding-left: 25px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email-button:hover,
.footer__email-button:focus {
  border-color: var(--signature-price-bg-focus-color);
  background-color: var(--signature-price-bg-focus-color);
}
.footer__icon {
  display: block;
  height: 26px;
  width: 47px;
}
